h1 {
	font-size: 175%;
	text-align: center;
	text-decoration: underline;
}

.meat {
	background-color: grey;
	border: 1px solid black;
	padding: 2px;
}


p {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	clear: right;
}

section {
    font-size: 125%;
    position: relative;
    top: -3px;
    right: -3px;
    text-align: center;
    width: 100px;
    padding: 2px;
    border: 1px solid black;
    float: right;
    margin: 0px 0px 2px 2px;
}

* {
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

#sub1 {
	background-color: #A52A2A;
	color: white;
}

#sub2 {
	background-color: #90EE90;
}

#sub3 {
	background-color: #DEB887;
}





/********** Desktop devices only **********/
@media (min-width: 992px) {
  .meat {
    margin: 15px;
    float: left;
  }
  .container2{
  	width: 33%;
  	float: left;
  }
}

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .meat {
    margin: 10px;
    float: left;
}

#fish {
	float: left;
}
.container2 {
	width: 50%;
	float: left;
}

#id3 {
	width: 100%;
	float: left;
}
}


/********** Mobile devices only **********/
@media (max-width: 767px) {
  .meat {
  	margin-bottom: 15px;
  }
}